<div class="app-content">
    <div class="app-title">
        <div class="">
            <h1>
                <i class="fa fa-bus" aria-hidden="true"></i>
                Vehicles
            </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
           <xng-breadcrumb></xng-breadcrumb>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="col-sm-12 mb-3">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="row">
                                    <label for="search" class="col-sm-2 col-form-label">Search:</label>
                                    <div class="col-sm-9">
                                        <input id="search" class="form-control form-control-sm"
                                               placeholder="Search here"
                                               [(ngModel)]="vehiclesQuery.searchText"
                                               [ngModelOptions]="{standalone: true}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <label for="search" class="col-sm-2 col-form-label">Type:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm"
                                                [(ngModel)]="vehiclesQuery.type"
                                                [ngModelOptions]="{standalone: true}">
                                            <option value="" selected>--Select Status--</option>
                                            <option *ngFor="let type of types"
                                                    value="{{type.value}}">{{type.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-sm btn-primary" (click)="searchVehicles()">Search</a>
                            </div>
                            <div class="col-sm-4 text-right">
                                <a class="btn btn-sm btn-success" [routerLink]="['addVehicle']">Add a Vehicle</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-hover text-center dataTable">
                            <thead>
                            <tr>
                                <th>S No</th>
                                <th [ngClass]="vehiclesQuery.sortOrder == 'vehicleType'?'headActive' : ''"
                                    accessKey="vehicleType" (click)="clickSorting($event)">Vehicle Type
                                    <i *ngIf="vehiclesQuery.sortOrder != 'vehicleType'" class="fa fa-sort"></i>
                                    <i *ngIf="vehiclesQuery.sortOrder == 'vehicleType'" class="fa"
                                       [ngClass]="vehiclesQuery.orderBy == 'asc'? 'fa-sort-asc': 'fa-sort-desc'"></i>
                                </th>
                                <th [ngClass]="vehiclesQuery.sortOrder == 'regNo'?'headActive' : ''"
                                    accessKey="regNo" (click)="clickSorting($event)">Registration #
                                    <i *ngIf="vehiclesQuery.sortOrder != 'regNo'" class="fa fa-sort"></i>
                                    <i *ngIf="vehiclesQuery.sortOrder == 'regNo'" class="fa"
                                       [ngClass]="vehiclesQuery.orderBy == 'asc'? 'fa-sort-asc': 'fa-sort-desc'"></i>
                                </th>
                                <th [ngClass]="vehiclesQuery.sortOrder == 'chasisNumber'?'headActive' : ''"
                                    accessKey="chasisNumber" (click)="clickSorting($event)">Chasis #
                                    <i *ngIf="vehiclesQuery.sortOrder != 'chasisNumber'" class="fa fa-sort"></i>
                                    <i *ngIf="vehiclesQuery.sortOrder == 'chasisNumber'" class="fa"
                                       [ngClass]="vehiclesQuery.orderBy == 'asc'? 'fa-sort-asc': 'fa-sort-desc'"></i>
                                </th>
                                <th>Permit Expiry</th>
                                <th>Fitness Expiry</th>
                                <th>Insurance Expiry</th>
                                <th>Auth Expiry</th>
                                <th>Pollution Expiry</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let vehicle of vehicles; let i =index;">
                                <td>{{i + 1}}</td>
                                <td>{{vehicle.vehicleType}}</td>
                                <td>{{vehicle.regNo}}</td>
                                <td>{{vehicle.chasisNumber}}</td>
                                <td>{{vehicle.permitExpiry | date}}</td>
                                <td>{{vehicle.fitnessExpiry | date}}</td>
                                <td>{{vehicle.insuranceExpiry | date}}</td>
                                <td>{{vehicle.authExpiry | date}}</td>
                                <td>{{vehicle.pollutionExpiry | date}}</td>
                                <td class="td-active">
                                    <button type="button"
                                            class="action-icon-style waves-effect waves-blue edit-user-button"
                                            title="View vehicle"
                                            style="padding: 0;height: 40px;width: 40px;"
                                            (click)="viewVehicleDetails(vehicle, viewVehicleDetailsModal)">
                                        <i class="fa fa-info fa-1x" aria-hidden="true"></i>
                                    </button>
                                    <button type="button"
                                            class="action-icon-style waves-effect waves-blue edit-user-button"
                                            title="Edit Vehicle" [routerLink]="['editVehicle/' + vehicle.id]">
                                        <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
                                    </button>
                                    <button type="button"
                                            class="action-icon-style waves-effect waves-blue edit-user-button"
                                            title="Delete Vehicle" (click)="deleteVehicle(vehicle.id)">
                                        <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="vehicles.length === 0 || !vehicles">
                                <td colspan="10" style="text-align: center">No Records exist.</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr *ngIf="vehicles.length > 0">
                                <th colspan="10">
                                    <div class="pull-right">
                                        Total Count : {{vehiclesCount || 0}}
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="form-group">
                            <div class="list-row" style="display: inline-block">
                                <ngb-pagination *ngIf="vehiclesCount || vehiclesCount !== 0"
                                                [(page)]="vehiclesQuery.page"
                                                [pageSize]="vehiclesQuery.size"
                                                [collectionSize]="vehiclesCount"
                                                [boundaryLinks]="true"
                                                (pageChange)="handlePageChange($event)"
                                                [maxSize]="5">
                                </ngb-pagination>
                            </div>
                            <ul class="pagination pull-right" *ngIf="vehiclesQuery || vehiclesQuery !== 0">
                                <li class="page-item" [ngClass]="size == vehiclesQuery.size ? 'active' : ''"
                                    *ngFor="let size of vehiclesQuery.pageSizes" (click)="handlePageSizeChange(size)">
                                    <button class="page-link"> {{ size }}
                                        <span class="sr-only">(current)</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--View Vehicle Details Modal-->
<ng-template #viewVehicleDetailsModal>
    <div class="modal-header">
        <h4 class="modal-title form-head-line-style">Vehicle Details </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="cityStateUpdateForm" class="form-horizontal" role="form">
            <div class="tile">
                <div class="tile-body row">
                    <div class="viewRental col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 col-12 form-group">
                                <label>Registration Number:</label>
                                <p>{{vehicleDetails.regNo || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Vehicle Type:</label>
                                <p>{{vehicleDetails.vehicleType || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Permit Number:</label>
                                <p>{{vehicleDetails.permitNumber || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Permit Expiry:</label>
                                <p>{{(vehicleDetails.permitExpiry | date) || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Fitness Expiry:</label>
                                <p>{{(vehicleDetails.fitnessExpiry | date) || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Insurance Expiry:</label>
                                <p>{{(vehicleDetails.insuranceExpiry | date) || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Authorization Expiry:</label>
                                <p>{{(vehicleDetails.authExpiry | date) || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Pollution Expiry:</label>
                                <p>{{(vehicleDetails.pollutionExpiry | date) || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Chasis Number:</label>
                                <p>{{vehicleDetails.chasisNumber || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Engine Number:</label>
                                <p>{{vehicleDetails.engineNumber || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>No of Seats:</label>
                                <p>{{vehicleDetails.noOfSeats || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Number of Berths:</label>
                                <p>{{vehicleDetails.noOfBerths || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Owner Name:</label>
                                <p>{{vehicleDetails.ownerName || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Owner Address:</label>
                                <p>{{vehicleDetails.ownerAddress || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Year of Manufacture:</label>
                                <p>{{vehicleDetails.yearOfManufacture || '---'}}</p>
                            </div>
                            <div class="col-sm-4 col-12 form-group">
                                <label>Number Of Tyres:</label>
                                <p>{{vehicleDetails.numberOfTyres || '---'}}</p>
                            </div>
                        </div>
                        <div class="col-sm-12 p-0">
                            <h4 class="mb-2">Tax Payments</h4>
                            <div class="row" *ngFor="let vehicle of vehicleDetails.taxPayments">
                                <div class="col-sm-6 col-12 form-group">
                                    <label>State:</label>
                                    <p>{{vehicle.state || '--'}}</p>
                                </div>
                                <div class="col-sm-6 col-12 form-group">
                                    <label>Tax Expiry:</label>
                                    <p>{{(vehicle.paymentDate | date) || '---'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="col-sm-12 text-right p-0">
            <button type="button" class="btn btn-danger btn-sm" (click)="closeModal()">
                <i class="fa fa-fw fa-times-circle"></i> Close
            </button>
        </div>
    </div>
</ng-template>

