<div class="app-content">
    <div class="app-title">
        <div class="">
            <h1>
                <!--                <i class="fa fa-plus-square-o" aria-hidden="true"></i>-->
                <img src="assets/images/cargo_boo.png" alt="icon" height="35px" width="auto"/>
                Cargo Bookings
            </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><span class="fa fa-home fa-lg"></span></li>
            <li class="breadcrumb-item"><span class="breadcrumb-item-router">Cargo Bookings</span></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <app-cargo-look-up></app-cargo-look-up>
                    <div class="col-sm-12 mb-3 mt-3">
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <a class="btn btn-sm btn-success mr-1" (click)="navigateToNewBooking()">New Booking</a>
                                <a class="btn btn-sm btn-primary" (click)="exportToExcel()">Export to Excel</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-12 form-group">
                                <label>From Office</label>
                                <div>
                                    <select class="form-control form-control-sm"
                                            [(ngModel)]="filterObj.fromBranchId"
                                            [ngModelOptions]="{standalone: true}">
                                        <option value="" selected>--Select From office--</option>
                                        <option *ngFor="let fromBranch of branchOffices" value="{{fromBranch.id}}">
                                            {{fromBranch.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12 form-group">
                                <label>To Office</label>
                                <div>
                                    <select class="form-control form-control-sm"
                                            [(ngModel)]="filterObj.toBranchId"
                                            [ngModelOptions]="{standalone: true}">
                                        <option value="" selected>--Select To office--</option>
                                        <option *ngFor="let fromBranch of branchOffices" value="{{fromBranch.id}}">
                                            {{fromBranch.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12 form-group">
                                <label>Booked By</label>
                                <div>
                                    <select class="form-control form-control-sm"
                                            [(ngModel)]="filterObj.bookedBy"
                                            [ngModelOptions]="{standalone: true}">
                                        <option value="" selected>--Select User--</option>
                                        <option *ngFor="let user of users"
                                                value="{{user.id}}">{{user.fullName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12 form-group">
                                <label>Status</label>
                                <div>
                                    <select class="form-control form-control-sm"
                                            [(ngModel)]="filterObj.status"
                                            [ngModelOptions]="{standalone: true}">
                                        <option value="" selected>--Select Status--</option>
                                        <option value="READYFORSHIPMENT">Ready</option>
                                        <option value="INTRANSIT">In Transit</option>
                                        <option value="ARRIVED">Arrived</option>
                                        <option value="CANCELLED">Cancelled</option>
                                        <option value="DELIVERED">Delivered</option>
                                        <option value="ONHOLD">On Hold</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12 form-group">
                                <label>LR Type</label>
                                <div>
                                    <select class="form-control form-control-sm"
                                            [(ngModel)]="filterObj.paymentType"
                                            [ngModelOptions]="{standalone: true}">
                                        <option value="" selected>--Select Payment type--</option>
                                        <option label="ToPay" value="ToPay">ToPay</option>
                                        <option label="Paid" value="Paid">Paid</option>
                                        <option label="Free" value="Free">Free</option>
                                        <option label="OnAccount" value="OnAccount">OnAccount</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12 form-group">
                                <label>Start Date</label>
                                <div class="input-group">
                                    <input class="form-control form-control-sm"
                                           placeholder="Start Date"
                                           name="permit"
                                           [(ngModel)]="filterObj.startDate"
                                           [ngModelOptions]="{standalone: true}"
                                           bsDatepicker
                                           #startDate="bsDatepicker"
                                           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', isAnimated: true}">
                                    <div class="input-group-append">
                                        <button class="btn btn-light btn-sm" style="border: 1px solid #ced4da;"
                                                (click)="startDate.show()"
                                                [attr.aria-expanded]="startDate.isOpen" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12 form-group">
                                <label>End Date</label>
                                <div class="input-group">
                                    <input class="form-control form-control-sm"
                                           placeholder="End Date"
                                           name="permit"
                                           [(ngModel)]="filterObj.endDate"
                                           [ngModelOptions]="{standalone: true}"
                                           bsDatepicker
                                           #endDate="bsDatepicker"
                                           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', isAnimated: true}">
                                    <div class="input-group-append">
                                        <button class="btn btn-light btn-sm" style="border: 1px solid #ced4da;"
                                                (click)="endDate.show()"
                                                [attr.aria-expanded]="endDate.isOpen" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-12 form-group m-auto">
                                <button type="button" class="btn btn-primary btn-sm"
                                        (click)="loadCargoBookingsCount(filterObj)">Search Bookings
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-hover text-center dataTable">
                            <thead>
                            <tr>
                                <th>S No</th>
                                <th [ngClass]="pagination.sortOrder == 'shipmentNumber'? 'headActive' : ''"
                                    accessKey="shipmentNumber" (click)="clickSorting($event)">LR#
                                    <i *ngIf="pagination.sortOrder != 'shipmentNumber'" class="fa fa-sort"></i>
                                    <i *ngIf="pagination.sortOrder == 'shipmentNumber'" class="fa"
                                       [ngClass]="pagination.orderBy == 'asc'? 'fa-sort-asc' : 'fa-sort-desc'"></i>
                                </th>
                                <th>Items</th>
                                <th [ngClass]="pagination.sortOrder == 'dispatchDate'? 'headActive' : ''"
                                    accessKey="dispatchDate" (click)="clickSorting($event)">Dispatch Date
                                    <i *ngIf="pagination.sortOrder != 'dispatchDate'" class="fa fa-sort"></i>
                                    <i *ngIf="pagination.sortOrder == 'dispatchDate'" class="fa"
                                       [ngClass]="pagination.orderBy == 'asc'? 'fa-sort-asc' : 'fa-sort-desc'"></i>
                                </th>
                                <th [ngClass]="pagination.sortOrder == 'fromBranchOfficeName'? 'headActive' : ''"
                                    accessKey="fromBranchOfficeName" (click)="clickSorting($event)">From-To
                                    <i *ngIf="pagination.sortOrder != 'fromBranchOfficeName'" class="fa fa-sort"></i>
                                    <i *ngIf="pagination.sortOrder == 'fromBranchOfficeName'" class="fa"
                                       [ngClass]="pagination.orderBy == 'asc'? 'fa-sort-asc' : 'fa-sort-desc'"></i>
                                </th>
                                <th [ngClass]="pagination.sortOrder == 'toContact'? 'headActive' : ''"
                                    accessKey="toContact" (click)="clickSorting($event)">To Contact
                                    <i *ngIf="pagination.sortOrder != 'toContact'" class="fa fa-sort"></i>
                                    <i *ngIf="pagination.sortOrder == 'toContact'" class="fa"
                                       [ngClass]="pagination.orderBy == 'asc'? 'fa-sort-asc' : 'fa-sort-desc'"></i>
                                </th>
                                <th [ngClass]="pagination.sortOrder == 'remarks'? 'headActive' : ''"
                                    accessKey="remarks" (click)="clickSorting($event)">Remarks
                                    <i *ngIf="pagination.sortOrder != 'remarks'" class="fa fa-sort"></i>
                                    <i *ngIf="pagination.sortOrder == 'remarks'" class="fa"
                                       [ngClass]="pagination.orderBy == 'asc'? 'fa-sort-asc' : 'fa-sort-desc'"></i>
                                </th>
                                <th>Amount</th>
                                <th [ngClass]="pagination.sortOrder == 'bookedBy'? 'headActive' : ''"
                                    accessKey="bookedBy" (click)="clickSorting($event)">Booked By
                                    <i *ngIf="pagination.sortOrder != 'bookedBy'" class="fa fa-sort"></i>
                                    <i *ngIf="pagination.sortOrder == 'bookedBy'" class="fa"
                                       [ngClass]="pagination.orderBy == 'asc'? 'fa-sort-asc' : 'fa-sort-desc'"></i>
                                </th>
                                <th>Paynow</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let cargo of cargoBookings; let i =index;">
                                <td>{{(pagination.page-1) * pagination.size + i + 1}}</td>
                                <td style="white-space: nowrap"><a class="cus-a" style="color: #007bff;"
                                       (click)="routing(cargo.id)"> {{cargo.shipmentNumber}}</a></td>
                                <td>{{cargo.totalArticles}}</td>
                                <td>{{cargo.dispatchDate | date}}</td>
                                <td>({{cargo.attrs.fromBranchOfficeName}}) - ({{cargo.attrs.toBranchOfficeName}})</td>
                                <td>{{cargo.toName}}<br>{{cargo.toContact}}</td>
                                <td>{{cargo.remarks || '--'}}</td>
                                <td>{{cargo.totalCharge || '0'}}</td>
                                <td> {{cargo.attrs.bookedBy || '--'}}</td>
                                <td>
                                    <a style="color: #007bff;" class="cus-a"
                                       *ngIf="!cargo.canceled && cargo.cargoTransitStatus !== 'DELIVERED'"
                                       (click)="initiateDeliverCargoBooking(cargo.id)">
                                        Deliver
                                    </a>
                                    <span *ngIf="cargo.canceled"> Cancelled</span>
                                    <span *ngIf="cargo.cargoTransitStatus === 'DELIVERED'">Delivered to - {{cargo.deliveryNotes}}</span>
                                </td>
                                <td>
                                    <a class="cus-a" style="color: #007bff;" *ngIf="!cargo.reviewComment"
                                       (click)="addComment(cargo.id)">Add
                                        Comment</a>
                                    <a class="cus-a" style="color: #007bff;"
                                       (click)="addComment(cargo.id)">{{cargo.reviewComment}}</a>
                                </td>
                            </tr>
                            <tr *ngIf="cargoBookings.length === 0 || !cargoBookings">
                                <td colspan="11" style="text-align: center">No Cargo Bookingd found.</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr *ngIf="cargoBookings.length > 0">
                                <th colspan="11">
                                    <div class="pull-right">
                                        Total Count : {{cargoBookingsCount || 0}}
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="form-group">
                            <div class="list-row" style="display: inline-block">
                                <ngb-pagination *ngIf="cargoBookingsCount || cargoBookingsCount !== 0"
                                                [(page)]="pagination.page"
                                                [pageSize]="pagination.size"
                                                [collectionSize]="cargoBookingsCount"
                                                [boundaryLinks]="true"
                                                (pageChange)="handlePageChange($event)"
                                                [maxSize]="5">
                                </ngb-pagination>
                            </div>
                            <ul class="pagination pull-right" *ngIf="cargoBookingsCount || cargoBookingsCount !== 0">
                                <li class="page-item" [ngClass]="size == pagination.size ? 'active' : ''"
                                    *ngFor="let size of pagination.pageSizes" (click)="handlePageSizeChange(size)">
                                    <button class="page-link"> {{ size }}
                                        <span class="sr-only">(current)</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Cargo Booking Excel Download-->
    <table class="table table-hover text-center dataTable" id="cargoBookings" style="display: none;">
        <thead>
        <tr>
            <th>S No</th>
            <th>LR#</th>
            <th>Items</th>
            <th>DispatchDate</th>
            <th>From-To</th>
            <th>To Contact</th>
            <th>Remarks</th>
            <th>Amount</th>
            <th>BookedBy</th>
            <th>Paynow</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cargo of cargoBookings; let i =index;">
            <td>{{i + 1}}</td>
            <td> {{cargo.shipmentNumber}}</td>
            <td>{{cargo.totalArticles}}</td>
            <td>{{cargo.dispatchDate | date}}</td>
            <td>({{cargo.attrs.fromBranchOfficeName}}) - ({{cargo.attrs.toBranchOfficeName}})</td>
            <td>{{cargo.toName}}<br>{{cargo.toContact}}</td>
            <td>{{cargo.remarks || '--'}}</td>
            <td>{{cargo.totalCharge || '0'}}</td>
            <td> {{cargo.attrs.bookedBy}}</td>
            <td>
                <span *ngIf="!cargo.canceled && cargo.cargoTransitStatus !== 'DELIVERED'">
                    Deliver
                </span>
                <span *ngIf="cargo.canceled"> Cancelled</span>
                <span *ngIf="cargo.cargoTransitStatus === 'DELIVERED'">Delivered to - {{cargo.deliveryNotes}}</span>
            </td>
            <td>
                <span *ngIf="!cargo.reviewComment">Add Comment</span>
                <span>{{cargo.reviewComment}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
