<div class="app-content">
    <div class="app-title">
        <div class="">
            <h1>
                <i class="fa fa-houzz" aria-hidden="true"></i>
                Tyres
            </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><span class="fa fa-home fa-lg"></span></li>
            <li class="breadcrumb-item"><span class="breadcrumb-item-car">Tyres</span></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <!-- <div class="col-sm-12 mb-2 mt-2"> -->
                        <div class="row">
                            <!-- <div class="col-sm-2 pl-0 form-group col-12">
                                <label>From Office</label>
                                <div>
                                    <ng-select
                                            [items]="branchOffices"
                                            [multiple]="false"
                                            bindLabel="name"
                                            [closeOnSelect]="true"
                                            bindValue="id"
                                            placeholder="Select Office"
                                            [(ngModel)]="filterObj.fromBranchId"
                                            (ngModelChange)="getLoadingSheetData()"
                                            [ngModelOptions]="{standalone: true}">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-2 col-12 form-group mb-auto mt-auto" style="display: inherit">
                                <div class="form-check mr-2">
                                    <input class="form-check-input" type="radio" value="All" checked
                                           id="loadedUnloaded" name="status" [(ngModel)]="filterByStatus"
                                           [ngModelOptions]="{standalone: true}"
                                           (click)="filterBookingsByStatus('All')"
                                           style="margin-top: 0.2rem !important;">
                                    <label class="form-check-label" for="loadedUnloaded">
                                        All
                                    </label>
                                </div>

                                <div class="form-check mr-2">
                                    <input class="form-check-input" type="radio" value="Loaded"
                                           id="loaded" name="status" [(ngModel)]="filterByStatus"
                                           [ngModelOptions]="{standalone: true}"
                                           (click)="filterBookingsByStatus('Loaded')"
                                           style="margin-top: 0.2rem !important;">
                                    <label class="form-check-label" for="loaded">
                                        Loaded
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="Not Loaded"
                                           id="unloaded" name="status" [(ngModel)]="filterByStatus"
                                           [ngModelOptions]="{standalone: true}"
                                           (click)="filterBookingsByStatus('Not Loaded')"
                                           style="margin-top: 0.2rem !important;">
                                    <label class="form-check-label" for="unloaded">
                                        Unloaded
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-5 col-12  form-group mb-auto mt-auto" style="display: inherit">
                                <div class="form-check mr-2">
                                    <input class="form-check-input" type="radio" value="paidToPay"
                                           id="paidTopay" name="status" [(ngModel)]="filterString"
                                           [ngModelOptions]="{standalone: true}"
                                           style="margin-top: 0.2rem !important;">
                                    <label class="form-check-label" for="paidTopay">
                                        All: <i class="fa fa-inr"></i> {{total | numberFormatter}}
                                    </label>
                                </div>

                                <div class="form-check mr-2">
                                    <input class="form-check-input" type="radio" value="Paid"
                                           id="paid" name="status" [(ngModel)]="filterString"
                                           [ngModelOptions]="{standalone: true}"
                                           style="margin-top: 0.2rem !important;">
                                    <label class="form-check-label" for="paid">
                                        Paid: <i class="fa fa-inr"></i> {{paidCargoBooking | numberFormatter}}
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="ToPay"
                                           id="toPay" name="status" [(ngModel)]="filterString"
                                           [ngModelOptions]="{standalone: true}"
                                           style="margin-top: 0.2rem !important;">
                                    <label class="form-check-label" for="toPay">
                                        To Pay: <i class="fa fa-inr"></i> {{toPayCargoBooking | numberFormatter}}
                                    </label>
                                </div>
                            </div> -->
                        </div>
                        <div class="row p-3" style="align-items:center;">
                            <div class="col-sm-2">
                                <label class="ls text-uppercase text-600 font-weight-semi-bold">Total
                                    Count: </label> {{count || '0'}}
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" [(ngModel)]="searchQuery.tyreNumber" placeholder="Search by Tyre Number"
                                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <!-- <button class="btn btn-secondary btn-sm" aria-label="Small" type="button"
                                                >Search Tyre Number
                                        </button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control form-control-sm"
                                            [(ngModel)]="searchQuery.vehicleId"
                                            [ngModelOptions]="{standalone: true}">
                                        <option value="" selected>Select Vehicle</option>
                                        <option *ngFor="let vehicle of allVehicles" value="{{vehicle.id}}">
                                            {{vehicle.regNo}}
                                        </option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-success btn-sm" aria-label="Small" type="button"
                                (click)="getAllTyres()">Search
                                </button>
                            </div>
                            <!-- <div class="col-sm-3">
                                <button class="btn btn-success btn-sm" aria-label="Small" type="button"
                                [routerLink]="['addTyres']">Add Tyre
                                </button>
                            </div> -->
                            <div class="col-sm-2">
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-sm btn-success" [routerLink]="['addTyres']">
                                        <span class="fa fa-plus"></span> Add Tyre</a>&nbsp;&nbsp;&nbsp;
                                    <!-- <button type="button" class="btn btn-sm btn-primary" (click)="exportExcel()">Export
                                        Excel
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover text-center">
                                    <thead>
                                    <!-- <tr>
                                        <th>S No</th>
                                        <th>Inventory Name</th>
                                        <th>Unique Id</th>
                                        <th>Supplier</th>
                                        <th>Quantity</th>
                                        <th>Remaining Quantity</th>
                                        <th>UnitPrice</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let inventory of inventories; let i = index;">
                                            <td>{{(pagination.page-1) * pagination.size + i + 1}}</td>
                                            <td>{{ inventory.name }}</td>
                                            <td>{{ inventory.uniqueId }}</td>
                                            <td>{{ inventory.attrs.supplierName}}</td>
                                            <td>{{ inventory.quantity }}</td>
                                            <td>{{ inventory.remainingQuantity }}</td>
                                            <td>{{ inventory.unitCost }}</td>
                                            <td>
                                                <button type="button" class="action-icon-style text-primary waves-effect waves-blue edit-user-button"
                                                        title="Edit Inventory" [routerLink]="['add-inventories/' + inventory.id]">
                                                        <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="action-icon-style text-danger waves-effect waves-blue edit-user-button"
                                                        title="Delete City" >
                                                        <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="action-icon-style text-success waves-effect waves-blue edit-user-button"
                                                        title="View Jobs" >
                                                        <i class="fa fa-eye fa-1x" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="!inventories || inventories.length === 0" class="text-center">
                                            <td colspan="12">No Inventories found</td>
                                        </tr>
                                    </tbody> -->
                                    <tr *ngFor="let tyre of currentPageOfTyres; let i = index;">
                                        <td style="text-align: center">{{(pagination.page-1) * pagination.size + i + 1}}
                                        </td>
                                        <td>
                                            <b>Tyre Number: </b>{{ tyre.uniqueId }}, <b>Entry Date: </b>{{ tyre.createdAt | date }}, <b>Supplier: </b>{{ tyre.supplierName }}<br>
                                            <div *ngFor="let tyreactivity of tyre.activityList; let j = index;">
                                                <b>{{j + 1}}: </b>{{tyreactivity.activity}} for vehicle {{tyreactivity.attrs.regNo}} on
                                                {{tyreactivity.date | date}} odometer reading:{{tyreactivity.odometerReading}}  location:{{tyreactivity.location}}
                                                <button type="button" class="btn btn-xs btn-success mr-1" [routerLink]="['editTyreActivity/' + tyreactivity.id]"
                                                        ng-click="updateTyreActivityOnClick(tyreactivity.id)" title="Edit TyreActivity">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button *ngIf="tyreactivity.installationId" type="button" class="btn btn-xs btn-danger"
                                                        (click)="removeTyreInstallation(tyreactivity.id)" title="Remove Tyre Installation">
                                                    Uninstall Tyre
                                                </button>
                    
                                            </div>
                                        </td>
                                        <td style="width: 180px!important;">
                                            <a  [routerLink]="['addTyreActivity/' + tyre.id]" >Installation Tyre</a>&nbsp;&nbsp;&nbsp;
                                            <!--                        <a href="" ng-click="">Add Comment</a>-->
                                            <button type="button" class="btn btn-xs btn-success mr-1" [routerLink]="['editTyres/' + tyre.id]" 
                                                    title="Edit Tyre">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-xs btn-danger" (click)="deleteTyreOnClick(tyre.id)"
                                                    title="Delete Tyre">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!currentPageOfTyres || currentPageOfTyres.length === 0">
                                        <td colspan="7">No tyre exist. Please add some.</td>
                                    </tr>
                                    <tfoot>
                                        <tr *ngIf="currentPageOfTyres.length > 0">
                                            <th colspan="11">
                                                <div class="pull-right">
                                                    Total Count : {{count || 0}}
                                                </div>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="form-group">
                                    <div class="list-row" style="display: inline-block">
                                        <ngb-pagination *ngIf="count || count !== 0"
                                                        [(page)]="pagination.page"
                                                        [pageSize]="pagination.size"
                                                        [collectionSize]="count"
                                                        [boundaryLinks]="true"
                                                        (pageChange)="handlePageChange($event)"
                                                        [maxSize]="5">
                                        </ngb-pagination>
                                    </div>
                                    <ul class="pagination pull-right" *ngIf="count || count !== 0">
                                        <li class="page-item" [ngClass]="size == pagination.size ? 'active' : ''"
                                            *ngFor="let size of pagination.pageSizes" (click)="handlePageSizeChange(size)">
                                            <button class="page-link"> {{ size }}
                                                <span class="sr-only">(current)</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <table class="table table-bordered table-hover text-center tableFixHead" id="cargoBookings"
                           style="display: none">
                        <thead>
                        <tr>
                            <th>S No</th>
                            <th>LR#</th>
                            <th>DispatchDate</th>
                            <th>From</th>
                            <th>To</th>
                            <th>To Contact</th>
                            <th>Remarks</th>
                            <th>No of Items</th>
                            <th>Amount</th>
                            <th>Payment Type</th>
                            <th>Loaded Vehicle</th>
                            <th>Comment</th>
                        </tr>
                        </thead>
                        <tr *ngFor="let cargoBooking of cargoBookings | pipeFilter: filterString; let i = index;">
                            <td>{{i + 1}}</td>
                            <td>
                                {{cargoBooking.shipmentNumber}}
                            </td>
                            <td>{{cargoBooking.dispatchDate|date}}</td>
                            <td>{{cargoBooking.attrs.fromBranchOfficeName}}</td>
                            <td>{{cargoBooking.attrs.toBranchOfficeName}}</td>
                            <td>
                                {{cargoBooking.toName}}<br>{{cargoBooking.toContact}}</td>
                            <td>
                                {{cargoBooking.remarks || '--'}}</td>
                            <td>{{cargoBooking.totalArticles}}</td>
                            <td>
                                {{cargoBooking.totalCharge}}
                            </td>
                            <!-- <td data-title="'Status'" class="clickable-item">
                                 {{cargoBooking.cargoTransitStatus}}
                             </td>--
                            <td>
                                {{cargoBooking.paymentType}}
                            </td>
                            <td>
                                {{cargoBooking.messages[cargoBooking.messages.length - 1]}}
                            </td>
                            <td>
                                <a>{{cargoBooking.reviewComment || '--'}}</a>
                            </td>
                        </tr>
                        <tr *ngIf="!cargoBookings || cargoBookings.length === 0" class="text-center">
                            <td colspan="12">No Cargo Bookings found</td>
                        </tr>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</div>