<div class="app-content">
    <div class="app-title">
        <div class="">
            <h1>
                <i class="fa fa-key" aria-hidden="true"></i>
                Update Password
            </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <xng-breadcrumb></xng-breadcrumb>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-3 col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="col-sm-12">
                        <form [formGroup]="updatePasswordForm">
                            <div class="row">
                                <div class="col-12 form-group">
                                    <div class="row">
                                        <label class="col-sm-3 col-form-label">User Name:</label>
                                        <div class="col-sm-9 mt-auto mb-auto">
                                            {{user.userName}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 form-group">
                                    <div class="row">
                                        <label class="col-sm-3 col-form-label">Current Password:<span
                                                class="mandatory-field">*</span></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm"
                                                   placeholder="enter current password"
                                                   formControlName="currentPassword"
                                                   [(ngModel)]="user.currentPassword"
                                            />
                                        </div>
                                    </div>
                                </div>
                            <div class="col-12 form-group">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Password:<span
                                            class="mandatory-field">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm"
                                               placeholder="enter new password"
                                               formControlName="password"
                                               [(ngModel)]="user.password"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Confirm Password:<span
                                            class="mandatory-field">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm"
                                               placeholder="Re-enter password"
                                               formControlName="confirmPassword"
                                               [(ngModel)]="user.confirmPassword"
                                        />
                                        <div class="msg-block" *ngIf="user.password !== user.confirmPassword">
                                            <span class="msg-error text-danger">Passwords don't match.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-12 form-group">
                                    <div class="text-center">
                                        <button class="btn btn-success btn-sm" (click)="updatePassword()">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
