


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="form1">
                <span class="login100-form-title p-b-43">Login to continue</span>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" autocomplete="false" placeholder="Enter Username"
                           formControlName="userName"
                           [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <!-- <div *ngIf="f.number.errors.required">Number is required</div> -->
                        <!-- <div *ngIf="f.number.errors.pattern">Number must be a valid Number</div>
                        <div *ngIf="f.number.errors.minlength">Number must be 10 digits</div> -->
                    </div>
                    <span class="focus-input100"></span>
                    <span class="label-input100">User Name</span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" autocomplete="false" placeholder="Enter Password"
                           formControlName="password"
                           [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <!-- <div *ngIf="f.password.errors.required">Password is required</div> -->
                        <!-- <div *ngIf="f.password.errors.minlength">Please Enter at least 6 characters</div> -->
                    </div>
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>
                <div class="error-field" style="text-align: center; margin: 10px 0;">{{error}}</div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
                <div class="login100-form-social flex-c-m pt-lg-5">
                    <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                        <i class="fa fa-facebook-f" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="login100-form-social-item flex-c-m bg4 m-r-5">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="login100-form-social-item flex-c-m bg3 m-r-5">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
            <div class="login100-more" style="background-image: url('./assets/images/banner5.jpg');"></div>
        </div>
    </div>
</div>
